.expensesWrapper {
  margin-block: -0.25rem 2rem;
  display: grid;
  grid-template-columns: 375px;
  outline: 2px solid rgb(51 65 0);
  padding: 1.25rem 1.25rem 1rem;
  border-radius: 10px 10px 25px 25px;
}

@supports (corner-shape: scoop) {
  .expensesWrapper,
  dialog {
    border-radius: 15px 15px 50px 50px;
    corner-shape: scoop scoop squircle squircle;
  }
}

.expensesWrapper > button:first-child {
  justify-self: center;
  margin-block-end: 0.75rem;
}

.expenseListWrapper {
  display: grid;
  justify-content: center;
}

dialog {
  position: absolute;
  margin-inline: auto;
  z-index: 999;
  padding: 1.25rem 1rem 1.25rem 1.75rem;
  border: 2px solid rgb(238, 255, 179);
  width: 375px;
  backdrop-filter: blur(2px);
  background-color: rgba(96, 102, 73, 0.65);
  border-radius: 10px 10px 25px 25px;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.125rem;
}

.modalContentWrapper {
  color: rgb(238, 255, 179);
  padding-inline-end: 0.75rem;
  text-indent: -0.5rem;
}

.backdrop {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  background-color: rgb(0 0 0 / 0.2);
}

.detailsBtnWrapper {
  display: grid;
  gap: 1rem;
  padding-inline: 0.5rem;
}

dialog span {
  color: rgb(233, 255, 153);
  font-weight: 400;
  font-size: 1rem;
}
