.expensesWrapper {
  margin-block-start: 1.25rem;
  display: grid;
  grid-template-columns: 375px;
}

.expensesWrapper > button:first-child {
  justify-self: center;
  margin-block-end: 0.75rem;
}

.expenseListWrapper {
  display: grid;
  justify-content: center;
}

/* .expensesWrapper * {
  outline: 1px solid red;
} */

dialog {
  position: absolute;
  margin-inline: auto;
  z-index: 999;
  padding: 1rem;
  border: none;
}
