.expensesWrapper {
  margin-block-start: -0.25rem;
  display: grid;
  grid-template-columns: 375px;
  outline: 2px solid rgb(51 65 0);
  padding: 1.25rem 1.25rem 1rem;
  border-radius: 10px 10px 25px 25px;
}

@supports (corner-shape: scoop) {
  .expensesWrapper {
    border-radius: 15px 15px 50px 50px;
    corner-shape: scoop scoop squircle squircle;
  }
}

.expensesWrapper > button:first-child {
  justify-self: center;
  margin-block-end: 0.75rem;
}

.expenseListWrapper {
  display: grid;
  justify-content: center;
}

dialog {
  position: absolute;
  margin-inline: auto;
  z-index: 999;
  padding: 1rem;
  border: none;
}
