#createUserForm {
  margin-block-start: -0.25rem;
  padding: 1rem;
  outline: 2px solid rgb(51 65 0);
  display: grid;
  grid-template-columns: 375px;
  gap: 0.5rem;
  border-radius: 15px 15px 50px 50px;
  corner-shape: scoop scoop squircle squircle;
}

#createUserForm button {
  padding: 0.35rem 0.75rem;
}

#createUserForm .btnWrapper {
  justify-self: center;
  display: flex;
  margin-block-start: 1rem;
  gap: 1rem;
}
