#editUserForm {
  outline: 2px solid rgb(51 65 0);
  border-radius: 25px 25px 10px 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 375px;
  gap: 0.5rem;
  margin-block-start: -0.35rem;
}

@supports (corner-shape: scoop) {
  #editUserForm {
    border-radius: 15px 15px 50px 50px;
    corner-shape: scoop scoop squircle squircle;
  }
}

#editUserForm p {
  font-size: 1.125rem;
  font-weight: 600;
}

#editUserForm .editUserBtnWrapper {
  justify-self: center;
  display: flex;
  margin-block-start: 1rem;
  gap: 1rem;
}
