img {
  max-width: 225px;
  background-color: rgb(51 65 0);
  padding: 0.25rem 0.75rem;
  border-radius: 25px 25px 10px 10px;
  outline: 2px solid rgb(51 65 0);
  outline-offset: 3px;
}

@supports (corner-shape: scoop) {
  img {
    border-radius: 50px 50px 15px 15px;
    corner-shape: squircle squircle scoop scoop;
  }
}
