#loginForm {
  display: grid;
  grid-template-columns: 375px;
  gap: 0.5rem;
  padding: 0 1rem 1rem;
  margin-block-start: 1.75rem;
  outline: 2px solid rgb(51 65 0);
  border-radius: 25px 25px 10px 10px;
}

@supports (corner-shape: scoop) {
  #loginForm {
    border-radius: 50px 50px 15px 15px;
    corner-shape: squircle squircle scoop scoop;
  }
}

.loginBtnWrapper {
  display: flex;
  margin-block-start: -1.5rem;
  margin-inline: auto;
  gap: 1rem;
  transform: translateY(-0.13rem);
}

.loginBtnWrapper button:last-child {
  width: 100px;
}
