.btnDelete {
  background: rgb(225 0 0);
  color: white;
  font-weight: bold;
  padding: 0.125rem 1.6rem;
  border: none;
  border-radius: 10px;
  outline: 2px solid rgb(225 0 0);
  outline-offset: 2px;

  &:hover {
    background-color: rgb(225 75 0);
  }
  &:focus-visible {
    background-color: rgb(225 75 0);
  }
}

.btnReg {
  background-color: rgb(51, 65, 0);
  color: white;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px -1px 0px rgb(22, 1, 20));
  outline: 2px solid rgb(51, 65, 0);
  outline-offset: 2px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
