.btnDelete {
  background: rgb(255 0 0 / 0.85);
  color: white;
  font-weight: bold;
}

.btnReg {
  background-color: rgb(51, 65, 0);
  color: white;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px -1px 0px rgb(22, 1, 20));
  outline: 2px solid rgb(51, 65, 0);
  outline-offset: 2px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
