details {
  width: 375px;
  margin-block: 0.25rem;
  outline: 2px solid rgb(51 65 0);
  border-radius: 5px;
}

@supports (corner-shape: scoop) {
  details:last-child {
    border-radius: 15px 15px 50px 50px;
    corner-shape: scoop scoop squircle squircle;
  }

  details:first-child {
    border-radius: 50px 50px 15px 15px;
    corner-shape: squircle squircle scoop scoop;
  }

  details {
    border-radius: 15px;
    corner-shape: scoop;
  }
}

details:first-child {
  margin-block-start: 0.5rem;
}

details p {
  text-align: center;
  max-width: 30ch;
  margin-inline: auto;
}

details p:nth-child(3) {
  margin-block: 0.75rem;
}

summary {
  cursor: pointer;
  padding-left: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  text-indent: -1rem;
}

.detailsBtnWrapper {
  display: flex;
  gap: 1rem;
  width: fit-content;
  margin-inline: auto;
  margin-block: 1.5rem;
}
