*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}
button {
  cursor: pointer;
}

body {
  background-color: rgb(22, 1, 20);
  color: white;
}
