.userStatusWrapper .btnWrapperFlex {
  display: flex;
  gap: 1rem;
  margin-block-start: 0.25rem;
}

.userStatusWrapper .btnWrapper {
  display: grid;
  justify-items: center;
  margin-block-start: 0.15rem;
}

.userStatusWrapper .btnWrapper > button {
  transform: translateX(-3.63rem);
}

.userStatusWrapper > div > button:first-child {
  view-transition-name: btnLogin;
}
