.userStatusWrapper .btnWrapperFlex {
  display: flex;
  gap: 1rem;
  margin-block-start: 0.15rem;
}

.userStatusWrapper .btnWrapper {
  display: grid;
  justify-items: center;
  margin-block-start: 0.15rem;
}

.userStatusWrapper .btnWrapper > button {
  transform: translateX(-3.63rem);
}

.userStatusWrapper > div > button:first-child {
  view-transition-name: btnLogin;
}

.currUser {
  text-align: center;
}

.currUser span {
  font-size: 1.125rem;
  line-height: 2;
}

.loggedInBtnWrapper {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
}
