#editExpenseForm {
  padding-block-end: 1rem;
  display: grid;
  grid-template-columns: subgrid;
  gap: 0.5rem;
}

.editExpFormBtnWrapper {
  justify-self: center;
  display: flex;
  margin-block-start: 1rem;
  gap: 1rem;
}
