.filterInputWrapper {
  display: flex;
  gap: 0.5rem;
  margin-block: 0.25rem;
  margin-inline: auto;
  align-items: baseline;
}

.filterInputWrapper label {
  font-weight: 600;
}

.filterInputWrapper select {
  padding: 0.25rem;
  border-radius: 5px;
}
